<!DOCTYPE html>
<html lang="en">
<head>
  <title>Filter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="text-center container mt-5">

    <div>
      <img class="p-4" src="/images/filter.png" alt="filter" width="150" height="150" />
    </div>

    <h1 class="display-3">Filtered Search</h1>

    <br />

  </div>
<div class="container text-center">
  <p>Type in search bars to narrow search:</p>
  <form method="GET" id = "your_form" onsubmit="yourFunction()">
    <div class="form-group">
      <label for="usr">Title:</label>
      <input type="text" class="form-control" id="usr">
      <label for="usr">Artist:</label>
      <input type="text" class="form-control" id="usr">
      <label for="usr">Genre:</label>
      <input type="text" class="form-control" id="usr">
      <label for="usr">Year:</label>
      <input type="text" class="form-control" id="usr">
      <label for="usr">Lyrics:</label>
      <input type="text" class="form-control" id="usr">
      <input class="btn-secondary" type="submit"/>

    </div>
  </form>
</div>

</body>
</html>
