<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Genres</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body class="bg-light">
  <div class="text-center mt-5 mb-5 container">
    <div>
      <img class="p-4" src="/images/genre.ico" alt="title" width="150" height="150" />
    </div>
    <h2 class=display-3>Genres</h2>
    <p>Select genre:</p>
    <form>
    </form>
    <ul class="list-group">
      <a href="/genre/Pop/0" title="pop">
        <li class="list-group-item">Pop</li>
      </a>
      <a href="/genre/Hip-Hop/0" title="hip-hop">
        <li class="list-group-item">Hip-Hop</li>
      </a>
      <a href="/genre/Rock/0" title="rock">
        <li class="list-group-item">Rock</li>
      </a>
      <a href="/genre/Metal/0" title="metal">
        <li class="list-group-item">Metal</li>
      </a>
      <a href="/genre/Country/0" title="country">
        <li class="list-group-item">Country</li>
      </a>
      <a href="/genre/Jazz/0" title="jazz">
        <li class="list-group-item">Jazz</li>
      </a>
      <a href="/genre/Electronic/0" title="electronic">
        <li class="list-group-item">Electronic</li>
      </a>
      <a href="/genre/Folk/0" title="folk">
        <li class="list-group-item">Folk</li>
      </a>
      <a href="/genre/R&B/0" title="r&b">
        <li class="list-group-item">R&B</li>
      </a>
      <a href="/genre/Indie/0" title="indie">
        <li class="list-group-item">Indie</li>
      </a>
      <a href="/genre/Other/0" title="other">
        <li class="list-group-item">Other</li>
      </a>
      <a href="/genre/Not Available/0" title="not-available">
        <li class="list-group-item">Not Available</li>
      </a>
    </ul>
  </div>

  <footer class="bg-dark" style="height:10em;">
    <p class="text-light text-center">Copyright © 2019 - Dion Olympia & Henry Nguyen - All Rights Reserved</p>
    <br />
    <div class="text-center">
      <a class="text-white" href="/home">Go back to homepage</a>
    </div>
  </footer>

</body>

</html>